<p>
  <mat-form-field class="input-full-width" appearance="legacy">
    <mat-label>Name</mat-label>
    <input class="input-full-width" matInput placeholder="My Cool Name" />
  </mat-form-field>
</p>
<p>
  <mat-form-field class="input-full-width" appearance="standard">
    <mat-label>Your dog's name</mat-label>
    <input class="input-full-width" matInput placeholder="My awesome dog's name" />
  </mat-form-field>
</p>
<p>
  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input class="input-full-width" matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="input-full-width" appearance="fill">
    <mat-label>Your cat's name</mat-label>
    <input class="input-full-width" matInput placeholder="My purrfect cat's name" />
  </mat-form-field>
</p>
<p>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Tootbrush color</mat-label>
    <input matInput placeholder="My favourite color" />
    <mat-hint>Hint: maybe green?</mat-hint>
  </mat-form-field>
</p>
<p>
  <button mat-raised-button color="primary" (click)="showProgressBar()">
    Submit
  </button>
</p>
<p class="input-full-width" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>
