@import "../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

mat-card {
  align-self: center;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1%;
  overflow-y: scroll;
}

mat-card::-webkit-scrollbar {
  width: 0;
}

.snow-position {
  position: relative;
}
