<header>
  <app-toolbar (likepressed)="SetText()"> </app-toolbar>
</header>
<div class="container">
  <app-snow class="snow-position" [snowText]="text"> </app-snow>
  <mat-card>
    <app-form> </app-form>
  </mat-card>
</div>
