@import "~@angular/material/theming";
@include mat-core();
$homework-app-primary: mat-palette($mat-teal);
$homework-app-accent: mat-palette($mat-green, A200, A100, A400);
$homework-app-warn: mat-palette($mat-red);
$homework-app-theme: mat-dark-theme(
  (
    color: (
      primary: $homework-app-primary,
      accent: $homework-app-accent,
      warn: $homework-app-warn,
    ),
  )
);

@include angular-material-theme($homework-app-theme);
