@import "./custom-theme.scss";
@import "~@angular/material/theming";

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle,
    mat-color($mat-teal, 700) 0%,
    mat-color($mat-teal, 900) 100%
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
